// Import global stylesheet
@import 'variables.scss';
.content-area {
    background-color: $base02;
    #form-outer-wrapper {
        height: 100%;
    }
    #form-inner-wrapper {
        background-color: $base3;
        border-radius: 20px;
        padding-bottom: 20px
    }
    form {
        padding: 0px 15px;
    }
    .mobile-validation span {
        color: $red;
        padding-bottom: 15px;
    }
    button {
        float: right;
    }
}